[submodule "numpy"]
	path = numpy
	url = https://github.com/numpy/numpy.git

[submodule "ctypescrypto"]
	path = ctypescrypto
	url = https://github.com/alex-eri/ctypescrypto.git
	branch = py3
        
[submodule "Pywin32"]
	path = Pywin32
	url = git@github.com:SublimeText/Pywin32.git
