*/build/*
build/*
server/install/*
dist/*
*.pyc
*/__pycache__
*/node_modules/*
*/bower_components/*
*/ht_docs/*
static/*
./static
mikrotik/hotspot/*
*.c
*.pem
tests/*
*.7z
~*
.~*
*.pem
package-json.lock
debian/spot4/*
debian/*.debhelper.log
debian/*.substvars

