<h1>Аккаунтинг</h1>
<table class=table ng-repeat="accts in accounting track by $index" >
  <tr>
    <th colspan=3> {{ accts._id| dict2date | date:'fullDate' }} </th>
    <th>{{ accts.input_bytes}}/{{accts.output_bytes}}</th>
    <th><span ng-if="accts.session_time >= 86400">
    {{ Math.floor(accts.session_time / 86400) }} days</span>
    {{ (accts.session_time *1000)| date:'HH:mm:ss':'UTC' }}</td></th>
  </tr>
<tr ng-repeat="n in accts.accts track by n._id.$oid ">
  <td>{{n.start_date.$date| date:'HH:mm'}}</td>
  <td>{{n.ip | int2ip }}</td>
  <td>{{n.caller}}</td>
  <td>{{n.input_bytes}}/{{n.output_bytes}}</td>
  <td>
    <span ng-if='n.session_time >= 86400'>
    {{ Math.floor(n.session_time / 86400) }} days</span>
    {{ (n.session_time *1000)| date:'HH:mm:ss':'UTC' }}</td>
</tr>
</table>
