<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />

<center>
  <h1><img src="/static/icons/apple-touch-favicon.png" /></h1>
</center>
<center ng-show="($location.$$path != '/register/') || $root.comfirmed">
    <div ng-view></div>
</center>
<div class=well ng-if="($location.$$path == '/register/') && ! $root.comfirmed">
<p>Уважаемый пользователь!</p>
<p>В соответствии с действующим законодательством Российской Федерации в области связи, при предоставлении услуг передачи данных и доступа к информационно-телекоммуникационной сети «Интернет» Оператором осуществляется идентификация пользователя и используемого им оконечного оборудования.</p>
<p>Просим Вас ввести в специальное поле Ваш мобильный номер (например: +79031234567) и следовать инструкциям.</p>
<label><input type=checkbox ng-model=$root.comfirmed></input> Согласен с правилами предоставления услуг</label>

</div>

