<div class="animate-switch-container" ng-switch on="stage">

  <div class="animate-switch" ng-switch-when="form">
    <p>
    <form name="regform">
      <input
        type="tel"
        ng-model=creds.username
        required
        pattern="\+\d{10,12}"
        placeholder="+79123456789"
        name='login' />
      <input type="hidden" name='mac' ng-model=client.mac />
      <button ng-click="register(regform)" >Войти</button>

    </form>
    </p>
  </div>
  <div class="animate-switch" ng-switch-when="reg">
    <p>Регистрация Вашего устройства...</p>
  </div>

  <div class="animate-switch" ng-switch-when="cod">
    <p>Отправьте смс с текстом
    <input readonly ng-model=sms.waited type=text  class="token" />
    на номер <!--a href="sms:{{sms.callie}}?body={{sms.waited}}">{{sms.callie}}</a-->
    <input readonly ng-model=sms.callie type=text  class="phone" />
    </p>
    <p class="animate-switch-container">
       <span class="animate-switch" ng-show="waiting" >
          Интернет включится через мгновение после того, как оно будет доставленно
       </span>
    </p>
  </div>

  <div class="animate-switch" ng-switch-when="login">
    <p>Подключение...</p>
  </div>

  <div class="animate-switch" ng-switch-when="ok">
    <h3>Подключен!<span></span></h3>
    <p ng-if=client.link_orig >Перейти на <a href={{client.link_orig}} target=_blank>{{client.link_orig | limitTo : 30 }}</a> </p>
    <p ng-if=client.link_redirect >Перейти на <a href={{client.link_redirect}} target=_blank>{{client.link_redirect | limitTo : 30 }}</a> </p>
  </div>

  <div class="animate-switch" ng-switch-when="error">
    <p>
      Ошибка: {{error}} <button ng-click="back_to('form')">Назад</button>
    </p>
  </div>

  <div class="animate-switch" ng-switch-when="status">
    <div ng-controller="status">
      <h4>В сети {{client.uptime}}</h4>
      <p ng-show="client.time_left">Осталось {{client.time_left}} </p>

    </div>
  </div>
</div>

