#!/usr/bin/make -f

clean:
	make -C . clean
	rm -rf debian/spot4

build:
	make -C . all
	git reset -- debian/
	gbp dch --snapshot --spawn-editor=no -N `git rev-list --all --count`


binary: build
	mkdir -p debian/spot4
	mkdir -p debian/spot4/opt/spot4/data
	mkdir -p debian/spot4/etc/systemd/system
	mkdir -p debian/spot4/etc/firewalld/services
	mkdir -p debian/spot4/opt/spot4/data/exports
	#tar -C debian/spot4 -xf dist/spot4*.tar.gz
	cp -R build/bin build/config build/mikrotik build/static build/uam debian/spot4/opt/spot4/
	echo 'Храните картинки и скрипты тут. Они доступны на вэб сервере через URL /static/' > debian/spot4/opt/spot4/static/README
	cp debian/spot4/opt/spot4/config/config.json.example debian/spot4/opt/spot4/config/config.json
	cp systemd/spot.service debian/spot4/etc/systemd/system/
	cp systemd/firewalld-services-spot.xml debian/spot4/etc/firewalld/services/spot.xml
	dh_gencontrol
	cp debian/postinst debian/spot4/DEBIAN/
	cp debian/conffiles debian/spot4/DEBIAN/
	dh_builddeb
	


binary-arch: binary

#build-arch: build


