<h1>Ограничения на портале</h1>

<table class=table >

<tbody ng-repeat="(id,limit) in limits" >
<tr data-target="#form{{id}}" data-toggle="collapse">
<th>
<i class="glyphicon glyphicon-menu-hamburger"></i>&nbsp; {{limit._id}}
  {{default=limits.default;""}}
</th>
  <td>
  <i class="glyphicon glyphicon-download"></i>
    <span ng-if="(limit.rate == 0)">не ограничено</span>
    <span ng-if="(limit.rate == none)">{{default.rate}} Mb/s</span>
    <span ng-if="limit.rate">{{limit.rate||""}} Mb/s</span>
</td>
<td>
  <i class="glyphicon glyphicon-time"></i>
  <span ng-if="limit.time">{{ limit.time | interval }}</span>
  <span ng-if="(limit.time == 0)">не ограничено</span>
  <span ng-if="(limit.time == none)">{{limits.default.time | interval }}</span>
</td>
<td>
  <i class="glyphicon glyphicon-retweet"></i>


  <span ng-if="limit.redir != 0 && limit.redir != none">{{ limit.redir }}</span>
  <span ng-if="(limit.redir == '0')">запрошенный URL</span>
  <span ng-if="(limit.redir == none)">{{limits.default.redir}}</span>

</td>

</tr>
<tr id="form{{id}}" class="collapse"><td colspan=4>
  <form class="form-horizontal" >

    <div ng-include="'/static/admin-forms/limit.html'"></div>

      <div class="form-group">
    <label class="col-sm-2 control-label">Платный доступ</label>
    <div class="col-sm-4">

    <nz-toggle ng-model="limit.payable" tri-toggle val-false=0></nz-toggle>
    </div>
    <div class="col-sm-6"><p class="form-control-static">
          проверка оплаты по билингу.
          Если существует подходящая оплата, то ограничения с неё перекрывают данные.
    </p></div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <input class="btn btn-primary" type="submit" ng-click="update(limit)" value="Сохранить" />
    </div>
  </div>
</form>

</td></tr>
</tbody>
</table>
