<h1>Ограничения</h1>

<table class=table>

<tbody ng-repeat="(id,router) in limits">
<tr data-target="#form{{id}}" data-toggle="collapse">
<th>
<i class="glyphicon glyphicon-menu-hamburger"></i> {{router._id}}
</th>
  <td>
  <i class="glyphicon glyphicon-download"></i>
    <span ng-if="(router.rate == 0)">не ограничено</span>
    <span ng-if="(router.rate == none)">default</span>
    <span ng-if="router.rate">{{router.rate||""}} Mb/s</span>
</td>
<td>
  <i class="glyphicon glyphicon-time"></i>
  <span ng-if="router.time">{{ router.time | interval }}</span>
  <span ng-if="(router.time == 0)">не ограничено</span>
  <span ng-if="(router.time == none)">default</span>
</td>
<td>
  <i class="glyphicon glyphicon-retweet"></i>  {{router.redir ||"default"}}
</td>

</tr>
<tr id="form{{id}}" class="collapse"><td colspan=4>
  <form class="form-horizontal" >
  <div class="form-group">
    <label class="col-sm-2 control-label">Скорость</label>
    <div class="col-sm-4">
    <input type="number" class="form-control" ng-model="router.rate" min=0 step="0.1">
    </div>
    <div class="col-sm-6"><p class="form-control-static">мегабит. Можно с десятыми. 0 снимает ограничение</p></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Время</label>
    <div class="col-sm-4">
    <input type="number" class="form-control" ng-model="router.time" min=0>
    </div>
    <div class="col-sm-6"><p class="form-control-static">
          секунд. Сбрасывать авторизацию по истечении этого времени.
    </p></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Устройства</label>
    <div class="col-sm-4">
    <input type="number" class="form-control" min="0" max="99" step=1 ng-model="router.ports">
    </div>
    <div class="col-sm-6"><p class="form-control-static">
           сессий одновременно. В пределах одного роутера.
    </p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Трафик</label>
    <div class="col-sm-4">
    <input type="number" class="form-control" min=0 ng-model="router.bytes" step=1>
    </div>
    <div class="col-sm-6"><p class="form-control-static">мегабайт на сессию. Микротик и Чили.</p></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Редирект</label>
    <div class="col-sm-4">
    <input type="url" class="form-control" ng-model="router.redir">
    </div>
    <div class="col-sm-6"><p class="form-control-static">ссылка</p></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Фильтр</label>
    <div class="col-sm-4">
    <input type="text" class="form-control" ng-model="router.filter">
    </div>
    <div class="col-sm-6"><p class="form-control-static">имя цепочки в фаерволе</p></div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <input class="btn btn-primary" type="submit" ng-click="update(router)" value="Сохранить" />
    </div>
  </div>
</form>
</td></tr>
</tbody>
</table>
