<h1>Сессии {{label}} <small ng-if=startdate  class="form-inline pull-right">
       <input class="form-control" type="month" ng-model=startdate ng-change="changestart(startdate,stopdate)" /> &mdash;
       <input class="form-control" type="month" ng-model=stopdate ng-change="changestop(startdate,stopdate)" />

                    <button class="btn btn-default" type="button" ng-csv="export(online.response)"
                    filename="Аккаунтинг-{{startdate|date: 'yyMM'}}-{{stopdate|date: 'yyMM'}}.csv" lazy-load="true"
                    csv-header = "['date','username','mac','ip','router','callee','session start','session stop','session time','upload','download',]"
                    ><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span></button>
     </small></h1>
  <table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th>Пользователь / Устройство</th>
      <th>Роутер / Хотспот</th>
      <th>Начало</th>
      <th>Время в сети</th>
      <th>Передано</th>
      <th>Получено</th>
    </tr>
  </thead>

<tbody ng-repeat="n in online.response | orderBy: ['-_id.year','-_id.month','-_id.day'] track by t(n._id)">

  <tr>
    <th colspan=2>Всего сессий: {{n.count}}</th>
    <th>{{t(n._id) | date}}</th>
    <th class="text-right"> {{n.session_time| interval}} </th>
    <th class="text-right">{{n.input_bytes| mega}}</th>
      <th class="text-right">{{n.output_bytes| mega}}</th>
  </tr>
  <tr ng-repeat="a in n.accts">
    <td>
      {{a.username}} / {{a.caller}}
      <span class="pull-right" ng-if="! a.termination_cause">
        <i class="glyphicon glyphicon-transfer"></i>
      </span>
    </td>
    <td>{{a.nas}} / {{a.callee}}</td>
    <td class="text-right">{{a.start_date.$date | date: 'HH:mm:ss' }}</td>
    <td class="text-right"> {{a.session_time| interval:a.start_date.$date }} </td>
    <td class="text-right">{{a.input_bytes| mega}}</td>
    <td class="text-right">{{a.output_bytes| mega}}</td>
  </tr>

</tbody>

</table>


