<h1>Регистрации</h1>
  <table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th colspan=2>Пользователь / Устройство</th>
      <th>Регистрация</th>
      <th>Последний визит</th>
    </tr>
  </thead>

<tbody ng-repeat="n in registred track by n._id.username">

  <tr>
    <th>{{n._id.username}} </th>
    <th>
      <a ng-if="n.devs[0].phone" href="tel:{{n.devs[0].phone}}">{{n.devs[0].phone}}</a>

      <a target=_blank class="hidden pull-right" href="https://phonenumber.to/search?text={{n.devs[0].phone}}"><i class="glyphicon glyphicon-search" ></i></a>

    </th>

    <th>{{n.registred.$date| date: 'mediumDate'}} / {{n.count}} шт. </th>
    <th>{{n.seen.$date| date: 'medium'}}</th>
  </tr>
  <tr ng-repeat="a in n.devs">
    <td>
      <i ng-if="a.checked" class="glyphicon glyphicon-ok" ></i>
    </td>
    <td>
      {{a.mac}}
    </td>
    <td>{{a.registred.$date| date: 'mediumDate'}}</td>
    <td>{{a.seen.$date| date: 'medium'}}</td>
  </tr>

</tbody>

</table>
