<h1>SMS</h1>
<h2>Принятые</h2>
  <table class="table table-hover table-condensed table-bordered">
    <tr>
      <th>Время</th>
      <th>Абонент</th>
      <th>Текст</th>
    </tr>
    <tr ng-repeat="a in sms_received">
    <td>{{a.date | date: 'medium'}}</td>
<td title="To: {{a.to}}">{{a.phone}}</td>
<td>{{a.text}}</td>
</tr>
  </table>
<h2>Отправленные</h2>
  <table class="table table-hover table-condensed table-bordered">
    <tr>
      <th>Время</th>
      <th>Абонент</th>
      <th>Текст</th>
    </tr>
<tr ng-repeat="a in sms_sent">
<td>{{a.sent.$date | date: 'medium'}}</td>
<td title="To: {{a.to}}">{{a.phone}}</td>
<td>{{a.text}}</td>
</tr>
  </table>
