<h1>SMS/Звонки&nbsp;&nbsp; <small ng-if=startdate  class="form-inline pull-right">
       <input class="form-control" type="month" ng-model=startdate ng-change="changestart(startdate,stopdate)" /> &mdash;
       <input class="form-control" type="month" ng-model=stopdate ng-change="changestop(startdate,stopdate)" />

     </small></h1>
<ul class="nav nav-tabs" role="tablist" >
<li role="presentation" ng-class="{active:smstab==0 || ! smstab}">
  <a ng-click="smstab=0">Статистика по отправленным sms</a></li>
  <li role="presentation" ng-class="{active:smstab==1}">
  <a ng-click="smstab=1">Статистика по звонкам</a></li>
<li role="presentation" ng-class="{active:smstab==2}">
  <a ng-click="smstab=2">Принятые</a></li>
<li role="presentation" ng-class="{active:smstab==3}">
  <a ng-click="smstab=2">Отправленные</a></li>
</ul>

<div class="tab-content">


<div role="tabpanel" ng-show="smstab==0 || ! smstab" >
  <table class="table table-hover table-condensed table-bordered">
    <tr>
      <th>Профиль</th>
      <th>За период</th>
      <th>Всего</th>
    </tr>
    <tr ng-repeat="a in sms_stat">
      <td>{{a._id}}</td>
      <td>{{a.month}}</td>
      <td>{{a.total}}</td>
    </tr>
  </table>

</div>

<div role="tabpanel" ng-show="smstab==1" >
  <table class="table table-hover table-condensed table-bordered">
    <tr>
      <th>Профиль</th>
      <th>За период</th>
      <th>Всего</th>
    </tr>
    <tr ng-repeat="a in call_stat">
      <td>{{a._id}}</td>
      <td>{{a.month}}</td>
      <td>{{a.total}}</td>
    </tr>
  </table>

</div>



<div role="tabpanel" ng-show="smstab==2" >
  <table class="table table-hover table-condensed table-bordered">
    <tr>
      <th>Время</th>
      <th>Абонент</th>
      <th>Текст</th>
    </tr>
    <tr ng-repeat="a in sms_received">
    <td>{{a.date.$date | date: 'medium' || a.date}}</td>
<td title="To: {{a.to}}">{{a.phone}}</td>
<td>{{a.text}}</td>
</tr>
  </table>

</div>

<div role="tabpanel"  ng-show="smstab==3">

  <table class="table table-hover table-condensed table-bordered">
    <tr>
      <th>Время</th>
      <th>Профиль</th>
      <th>Абонент</th>
      <th>Текст</th>
    </tr>
<tr ng-repeat="a in sms_sent">
<td>{{a.sent.$date | date: 'medium'}}</td>
<td>{{a.callee}}</td>
<td title="To: {{a.to}}">{{a.phone}}</td>
<td>{{a.text}}</td>
</tr>
  </table>

</div></div>

