<h1>Настройки порталов</h1>

<table class=table>

<tbody ng-repeat="(id,router) in limits">
<tr data-target="#form{{id}}" data-toggle="collapse">
<th>
<i class="glyphicon glyphicon-menu-hamburger"></i>
   {{router._id}}<span ng-if="router._id=='default'">&nbsp;-&nbsp;По умолчанию</span>

<a  class="pull-right" ng-if="router._id!='default'" ng-click="remove(router._id)"><i class="glyphicon glyphicon-trash"></i></a>


</th>

<!--
{
"smsmode":"send",
"password_auth":true,
"theme":"default"
}
-->


</tr>
<tr id="form{{id}}" class="collapse"><td colspan=4>
<form class="form-horizontal" >
<div class="form-group">
<label class="col-sm-2 control-label">Тема</label>
<div class="col-sm-4" ng-switch on="id">
<div ng-switch-when="default" >
<select class="form-control"
ng-model="router.theme" ng-options="theme for theme in themes">
</select>
</div>
<div ng-switch-default>
<select class="form-control"
ng-model="router.theme" ng-options="theme for theme in themes">
<option value="">По умолчанию</option>
</select>
</div>
</div>
<div class="col-sm-6"><p class="form-control-static">имя шаблона в uam/theme/</p></div>
</div>

<fieldset ng-if='router.theme' ng-include="'/uam/theme/' + (router.theme) + '/admin.tpl.html'">
</fieldset>



<fieldset>
<div class="form-group">
<label class="col-sm-2 control-label">Кнопка "В Интернет"</label>
<div class="col-sm-4">
       <nz-toggle tri-toggle
        val-null=undefined
        ng-model="router.loginbtn"></nz-toggle>
</div>
<div class="col-sm-6"><p class="form-control-static">
реальный вход в интернет только после нажатия кнопки
</p></div>
</div>
</fieldset>


<fieldset if="fieldset_vk" >
<div class="form-group" ng-if="router.vk">
<label class="col-sm-2 control-label">Вконтакте</label>
<div class="col-sm-4">
       <nz-toggle tri-toggle
        val-null=undefined
        ng-model="router.vk"></nz-toggle>
</div>
<div class="col-sm-6"><p class="form-control-static">
разрешит вход через вконтакте
</p></div>
</div>


<div class="form-group" ng-if="router.vk" >
<label class="col-sm-2 control-label">ID Приложения Вконтакте</label>
<div class="col-sm-4">

<input type="text" class="form-control" ng-model="router.vk_appid"
  placeholder="{{limits.default.vk_appid}}"
pattern="[0-9]*" />

</div>
<div class="col-sm-6"><p class="form-control-static">
<a href="https://vk.com/apps?act=manage">получите ID по ссылке</a>, укажите доверенный домен в приложении: {{$location.protocol() + "://" + $location.host() + ":" + $location.port()}}
</p></div>
</div>



<div class="form-group" ng-if="router.vk" >
<label class="col-sm-2 control-label">Сообщение поста</label>
<div class="col-sm-4">

<input type="text" class="form-control" ng-model="router.vk_message"
  placeholder="{{limits.default.vk_message}}" />

</div>
<div class="col-sm-6"><p class="form-control-static">
обязательно для репоста, хотябы смайлик.
</p></div>
</div>

<div class="form-group" ng-if="router.vk_message" >
<label class="col-sm-2 control-label">Вложение поста</label>
<div class="col-sm-4">

<input type="text" class="form-control" ng-model="router.vk_attachments"
  placeholder="{{limits.default.vk_attachments}}"
pattern=".*_[0-9]*" />

</div>
<div class="col-sm-6"><p class="form-control-static">
пример: photo7839870_418519510  - часть прямой ссылки на материал (wall1_1835009 уже не работает, вк запретил)
</p></div>
</div>

<div class="form-group" ng-if="router.vk_message" >
<label class="col-sm-2 control-label">Место репоста</label>
<div class="col-sm-4">

<input type="text" class="form-control" ng-model="router.vk_place_id"
  placeholder="{{limits.default.vk_place_id}}"
pattern="[0-9]*" />

</div>
<div class="col-sm-6"><p class="form-control-static">
Число, идентификатор места. По нему будет показанна ссылка на группу места.
Задайте местоположение в группе, потом в Информации найдите ссылку на это местоположение.
Нажмите правой кнопкой и пункт исследовать элемент(просмотреть код элемента).  Найдите Groups.showMapBox и введите сюда число, которое идет в скобках.

</p></div>
</div>



</fieldset>


<fieldset>
<div class="form-group">
<label class="col-sm-2 control-label">Пароль</label>
<div class="col-sm-4">
       <nz-toggle tri-toggle
        val-null=undefined
        ng-model="router.password"></nz-toggle>
</div>
<div class="col-sm-6"><p class="form-control-static">
разрешит вход по паролю
</p></div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">Перезаход по MAC</label>
<div class="col-sm-4">
       <nz-toggle tri-toggle
        val-null=undefined
        ng-model="router.macauth"></nz-toggle>
</div>
<div class="col-sm-6"><p class="form-control-static">
разрешит вход без страницы для зарегистрированных устройств на время сессии.
</p></div>
</div>

  </fieldset>

<fieldset>

<div class="form-group">
<label class="col-sm-2 control-label">Не проверять номер</label>
<div class="col-sm-4">

<nz-toggle tri-toggle
        val-null=undefined ng-model="router.nosms"></nz-toggle>

</div>
<div class="col-sm-6"><p class="form-control-static">
регистрация пользователя по номеру телефона, но без проверок
</p></div>
</div>


<div class="form-group" ng-if=!router.nosms >
<label class="col-sm-2 control-label">Принимать SMS</label>
<div class="col-sm-4">

<nz-toggle tri-toggle
        val-null=undefined
ng-model="router.smsrecieve"></nz-toggle>

</div>
<div class="col-sm-6"><p class="form-control-static">
от пользователя серверу
</p></div>
</div>


<div class="form-group" ng-if=!router.nosms >
<label class="col-sm-2 control-label">Отправлять SMS</label>
<div class="col-sm-4">

<nz-toggle tri-toggle
        val-null=undefined  ng-model="router.smssend"></nz-toggle>

</div>
<div class="col-sm-6"><p class="form-control-static">
от сервера пользователю
</p></div>
</div>

<div class="form-group" ng-if="router.smssend && !router.nosms" >
<label class="col-sm-2 control-label">Отправок в месяц</label>
<div class="col-sm-4">

<input type="number" class="form-control" ng-model="router.sms_limit"
  placeholder="{{limits.default.sms_limit || '-1'}}" step=1 min=-1 />

</div>
<div class="col-sm-6"><p class="form-control-static">
ограничение от сервера пользователю. -1 ⇒ без лимитов
</p></div>
</div>

<div class="form-group" ng-if="router.smssend && !router.nosms" >
<label class="col-sm-2 control-label">Таймаут смс</label>
<div class="col-sm-4">

<input type="number" class="form-control" ng-model="router.sms_timeout"
  placeholder="{{limits.default.sms_timeout || '-1'}}" step=1 min=-1 />

</div>
<div class="col-sm-6"><p class="form-control-static">
минут, через какое время отправлять новую смс. 0 - всегда, -1 - никогда.
</p></div>
</div>

<div class="form-group" ng-if="router.smssend && !router.nosms" >
<label class="col-sm-2 control-label">Шаблон SMS</label>
<div class="col-sm-4">

<input type="text" class="form-control" ng-model="router.smstmpl"
  placeholder="{{limits.default.smstmpl || 'Код подтверждения {code}.'}}"
pattern=".*\{code\}.*" />

</div>
<div class="col-sm-6"><p class="form-control-static">
{code} - заменяется на код
</p></div>
</div>

<div class="form-group" ng-if="router.smssend && !router.nosms" >

  <label class="col-sm-2 control-label">Перерегистрация</label>
<div class="col-sm-2">

<input type="number" class="form-control" ng-model="router.devmax"
  placeholder="{{limits.default.devmax || '4'}}" step=1 min=1 />
  </div>
  <div class="col-sm-1">
  <p class="form-control-static">незарегистрированных устройств за</p>
</div>
<div class="col-sm-2">
<input type="number" class="form-control" ng-model="router.rereg"
  placeholder="{{limits.default.rereg || '3'}}" step=1 min=0 />
</div>
  <div class="col-sm-5">
<p class="form-control-static">
дней на один номер телефона.
</p></div>
</div>
</fieldset>

<div class="form-group">
<div class="col-sm-offset-2 col-sm-10">
<input class="btn btn-primary" type="submit" ng-click="update(router)" value="Сохранить" />
</div>
</div>
</form>
</td></tr>
</tbody>
</table>
