tundev="tun-guest"
net="192.168.43.0/24"
dynip="192.168.43.11-192.168.43.250"
statip="192.168.43.2-192.168.43.10"
dns1="172.16.0.15"
dns2="77.88.8.8"
domaindnslocal
domain="hs.eerie.su"
ipup="/etc/chilli/up.sh"
ipdown="/etc/chilli/down.sh"
conup="/etc/chilli/conup.sh"
condown="/etc/chilli/condown.sh"
radiusserver1="server.ip"
radiusserver2="server.ip"
radiusauthport="1812"
radiusacctport="1813"
radiussecret="testing123"
radiusnasid="1.cosmik.msk"
nasmac="cosmik.msk"
dhcpif="eth1.43"
lease="600"
uamserver="http://server.name/uam/register/"
uamallowed="server.ip"
uamdomain="server.name"
uamanydns
macauth
macpasswd="password"
acctupdate
swapoctets

