<fieldset  ng-include="'/uam/theme/default/admin.tpl.html'" />

<div class="form-group">
<label class="col-sm-2 control-label">Логотип</label>
<div class="col-sm-4">
<input type="url" placeholder="{{limits.default.theme_logo||''}}"
   class="form-control" ng-model="router.theme_logo" />
</div>
<div class="col-sm-6"><p class="form-control-static">
ссылка на иконку 64х64.
</p></div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">Обложка</label>
<div class="col-sm-4">
<input type="url" placeholder="{{limits.default.theme_cover||''}}"
   class="form-control" ng-model="router.theme_cover" />
</div>
<div class="col-sm-6"><p class="form-control-static">
задает фон страницы.
</p></div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">Размещение</label>
<div class="col-sm-4">
<select class="form-control"
ng-model="router.theme_css_bgsize" >
<option value="">по умолчанию: {{limits.default.theme_css_bgsize||'contain'}}</option>
<option value="contain">уместить</option>
<option value="cover">растянуть</option>
</select>
</div>
<div class="col-sm-6"><p class="form-control-static">
Уместить - масштабирует изображение с сохранением пропорций таким образом, чтобы картинка целиком поместилась внутрь блока.
Растянуть - масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока.
</p></div>
</div>
