<p>
  <label>На номер&nbsp;{{$root.phone}}&nbsp;<span ng-if="(device.registred.$date >= device.seen.$date)">только что</span> отправлено SMS с кодом</label>
</p>
<p>
<form name="codform" class="form-inline">
  <div class="form-group" ng-class="{'has-feedback has-error':wrongcode}" >
    <div class="input-group">
      <span class="input-group-addon" >Код</span>
      <input
        class="form-control"
        type="number"
        ng-model="code"
        required
        pattern="\d{4}"
        placeholder="XXXX"
        name='code'
        code-validation
        />
    </div>
    <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show=wrongcode ></span>
    </div>
  <div class="form-group">
    <input class="btn btn-default form-control" type="submit" ng-click="confirm(codform)" value="Далее" />
  </div>
</form>
</p>
<p>
  <a ng-if="device.sms_waited" href=wait/sms/>Не приходит SMS</a>
  <!--a href=register/>Другой номер</a-->
</p>


