<p>
  Интернет подключен с ограничениями.
  <label>Введите код с карточки</label>
</p>
<p>
<form name="gtcform" class="form-inline">
  <div class="form-group" ng-class="{'has-feedback has-error':wrongcode}" >
    <div class="input-group">
      <span class="input-group-addon" >Код</span>
      <input
        class="form-control"
        type="tel"
        ng-model="gtc"
        required
        pattern="([0-9]{4}[\-\s ]?)+"
        placeholder="XXXX XXXX"
        code-validation
        />
    </div>
    <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show=wrongcode ></span>
    </div>
  <div class="form-group">
    <input class="btn btn-default form-control" type="submit" ng-click="confirm(gtcform)"
      value="Активировать" />
  </div>
</form>
</p>
<p>
  <a ng-click="logoff()" >Переподключиться</a>
</p>
