<p>
  <label>Регистрация в сети</label>
</p>
<p>
<form name="regform" class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon" >Логин</span>
      <input
        class="form-control"
        type="tel"
        ng-model="$root.username"
        required
        placeholder="XXXXXX"
        name='username'
        />
    </div>
    </div>
    <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon" >Пароль</span>
      <input
        class="form-control"
        type="password"
        ng-model="$root.password"
        required
        placeholder="******"
        name='password'
        />
    </div>
    </div>
  <div class="form-group">
          <input class="btn btn-default form-control" type="submit" ng-click="register(regform)" value="Войти" />
  </div>

</form>
</p>
