<p>
  <label>Регистрация в сети</label>
</p>
<p>
<form name="preregform" class="form-inline">
  <div class="form-group">
          <a class="btn btn-default form-control" href="register/password/" ng-if=config.password >По паролю</a>
  </div>

  <div class="form-group">
          <a class="btn btn-default form-control" href="register/sms/" ng-if=config.sms >По SMS</a>
  </div>

    <div class="form-group">
          <a class="btn btn-default form-control" href="register/call/" ng-if=config.call >По звонку</a>
  </div>

</form>
</p>

