<p ng-if="device.sms_waited">
  <label>
    Отправьте <a href="sms:{{device.sms_callie}}">SMS с кодом</a> {{device.sms_waited}}
    <!--<a href="sms:{{device.sms_callie}};?&body={{device.sms_waited}}">SMS с кодом</a> {{device.sms_waited}}-->
    на номер <a href="sms:{{device.sms_callie}}">{{device.sms_callie}}</a>.
  </label>
</p>
<p ng-if="device.sms_waited">
Интернет включится после доставки кода. Стоимость согласно Вашему тарифу.
Не закрывайте эту страницу или откройте снова после отправки SMS.
</p>

<p  ng-if="!device.sms_waited">
  <label>На данный момент получение SMS не возможно по техническим причинам.</label>
</p>
<p>
  <a href=check/sms/ ng-if="(device.sms_sent)">Пришло SMS</a>
  <!--a href=register/>Другой номер</a-->
</p>

